@model Perfil

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="split left">
    <div class="centered">
        <img src="https://alumnes.org/wp-content/uploads/2017/06/fa-user-circle-o-c0a2bd7a.png" alt="User icon">
        <h2 style="color: #0276ba"> @Model.UsuarioRegistrado.NombreUsuario </h2>
        Continente: @Model.UsuarioRegistrado.ContinenteUsuario <br />
        Desde: @Model.UsuarioRegistrado.FechaIngresoUsuario <br />
        Minutos jugados: @Model.UsuarioRegistrado.MinutosJugados <br /><br />

        <button style="background-color: #00a1ff" class="btn btn-lg" id="botonPerfil">
            <a asp-controller="Home" asp-action="EditarPerfil" asp-route-id="@Model.UsuarioRegistrado.IdUsuario" class="link-dark"> Editar perfil </a>
        </button>
        <br />
        <br />
        <button style="background-color: #00a1ff" class="btn btn-lg" id="botonPerfil">
            <a asp-controller="Home" asp-action="Delete" asp-route-id="@Model.UsuarioRegistrado.IdUsuario" class="link-dark"> Borrar perfil </a>
        </button>
        <br />
        <br />
        <button style="background-color: #00a1ff" class="btn btn-lg" id="botonPerfil">
            <a asp-controller="Home" asp-action="Resultados" asp-route-id="@Model.UsuarioRegistrado.IdUsuario" class="link-dark"> Ver Partidas Jugadas </a>
        </button>
    </div>
</div>

<div class="split right">
  <h1 style = "text-align: center; color: #ffda33"> <b>Historial de partidas </b> </h1>  
  <br />
  <div class="centered">
      <table class="center" style="width: 560px; font-size: 20px">
          <tr style="background-color: #00a1ff">
              <th style="text-align: center; color: black"> PUNTAJE </th>
              <th style="text-align: center; color: black"> DURACIÓN </th>
              <th style="text-align: center; color: black"> FECHA </th>
          </tr>

          @foreach (var partida in Model.PartidasJugadas){
              <tr style="color: white">
                  <td> @partida.PuntajePartida </td>
                  <td> @partida.DuracionMinutosPartida </td>
                  <td> @partida.FechaPartida </td>
              </tr>
           }
      </table>
  </div>
</div>

